@charset "UTF-8";

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-quaternary: #075ebd;
    --color-tertiary: #07366a;
    --color-primary: #3689e2;
    --color-success: #208436;
    --color-secondary: #6c757d;
    --color-warning: #f7e704;
}

header, footer{
    text-align: center;
}

body {
    font-family: sans-serif;
    /* margin: 0 auto;*/
    /* padding: 20px; */
    /* background-color: #ccc; */
}

main {
    display: inline-block;
    align-content: center;
    /* margin: 10px;*/
}

div {
    margin: 5px;
}

#formCalculo {
    width: 300px;
    /*padding: 20px; */
    float: left;
}

@media screen and (max-width: 500px) {
    #formCalculo, math, #regras {
        width: 95%;
        /* padding: 20px; */
    }
}


label {
    display: block;
    margin-top: 10px;
}

input[type="number"],
select {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--color-secondary);
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    margin: 10px;
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btCalcular:hover, #btLimpar:hover {
    background-color: var(--color-secondary);
}

#btCalcular {
    background-color: var(--color-primary);
}

#btLimpar {
    background-color: var(--color-warning);
}

#resultado {
    width: 300px;
    /* margin-top: 20px; */
    padding: 20px;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    float: left;
    box-shadow: inset -2px -2px 6px 0px #00000034;
}

#regras {
    float: left;
    width: 55%;
    /* padding: 20px */;
}

/* Esconder seções inicialmente */
.iniciarOculto {
    display: none;
}

/* Estilos para mensagens de aprovação/reprovação */
.aprovado {
    color: green;
    font-weight: bold;
}

.reprovado {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

math {
    font-size: 4vmin;
    padding: 20px;
}